body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.bar {
    display: none;
}

.down {
    display: none;
}

.feature {
    display: none;
}

.check {
    display: none;
}

.mobile-text {
    display: none;
}

.menu-btn {
    display: none;
}

.small-view {
    display: none;
}

.small-slide {
    display: none;
}

.mobile-right {
    display: none;
}

.boxx {
    display: none;
}

#borderr {
    display: none;
}

.nav-col span {
    display: none;
}


/* nav-bar */

.first li {
    display: inline;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
    opacity: 0.8;
}

.right {
    margin-left: 290px;
    margin-top: -5px;
}

.right ul li {
    margin-top: -15px;
}

span {
    position: absolute;
    margin-top: 1px;
    margin-left: -10px;
    opacity: 0.8;
}

.microsoft {
    position: absolute;
    margin-top: 0px;
    margin-left: 1px;
}

#head {
    font-size: 19px;
    font-weight: 700;
}

.right a {
    text-decoration: none;
    color: black;
}

.right li:hover {
    text-decoration: underline;
}

.search-bar svg {
    margin-left: -25px;
    padding-bottom: -10px;
    width: 15px;
    rotate: 90deg;
}

.search-bar {
    margin-left: 1050px;
    margin-top: -40px;
}

.search-bar input {
    width: 100px;
    height: 30px;
    border: 1px dashed gray;
    border-radius: 3px;
    padding: 0 10px;
    background: rgb(246, 250, 250);
}


/* right-side-nav-bar */

.second {
    margin-left: 1150px;
    margin-top: -30px;
}

.second li {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    opacity: 0.8;
}

#green {
    border: 1 solid gray;
    border-radius: 4px;
    padding: 9px;
    background: #89C402;
    opacity: 1;
}

.second a {
    text-decoration: none;
    color: black;
}

.second li:hover {
    text-decoration: underline;
}


/* wallpaper -first*/

.main-head {
    margin-top: -600px;
    margin-left: 280px;
}

.main-head h1 {
    font-size: 50px;
    font-weight: 600;
    color: #1A1A1A;
}

.text {
    margin-top: -15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #4C4C51;
}

.two-button li {
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
}

.two-button {
    margin-left: -60px;
    margin-top: 50px;
}

.two-button a {
    text-decoration: none;
}

#blue {
    color: white;
    border: 1px solid #0078D4;
    border-width: 15px;
    background: #0078D4;
    border-radius: 5px;
}

#blue:hover {
    text-decoration: underline;
}

#black {
    color: black;
    border: 1px solid rgb(0, 0, 0);
    border-width: 1px;
    padding: 15px;
    background: transparent;
    border-radius: 5px;
}

#black:hover {
    text-decoration: underline;
    background: black;
    color: white;
}

.text-element {
    margin-top: 350px;
    margin-left: 350px;
}

.text-element h2 {
    color: #1A1A1A;
}


/* grid-main */

.grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    margin-left: -100px;
}

.card-2:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1px;
}

.card-1 {
    border: 1px solid transparent;
    width: 650px;
    box-shadow: 2px 5px rgb(0 0 0 / 14%);
    color: #4C4C51;
    margin-left: 370px;
}

.card-2 {
    border: 1px solid transparent;
    width: 650px;
    box-shadow: 2px 5px rgb(0 0 0 / 14%);
    color: #4C4C51;
    margin-top: -400px;
    margin-left: 1050px;
    position: absolute;
    padding: 10px;
}

.card-2 img {
    margin-top: 20px;
}

.card-3 {
    border: 1px solid transparent;
    width: 670px;
    box-shadow: 2px 5px rgb(0 0 0 / 14%);
    color: #4C4C51;
    margin-top: -160px;
    margin-left: 1050px;
    position: absolute;
}

.card-3-text {
    padding: 50px;
    margin-left: 100px;
    margin-top: -165px;
}

.card-2-text {
    padding: 40px;
    margin-left: 100px;
    margin-top: -165px;
}


/* center button */

#border {
    color: #0078D4;
    border: 1px solid #0078D4;
    border-width: 1px;
    padding: 15px;
    background: transparent;
    border-radius: 5px;
}

#border:hover {
    text-decoration: underline;
    background: #0078D4;
    color: white;
}

.third-button li {
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
}

.third-button {
    padding: 50px;
    margin-left: 670px;
    margin-top: 50px;
}

.third-button a {
    text-decoration: none;
}

.non-border {
    color: black;
    text-decoration: none;
}


/* icon-div */

.icons {
    background: #f8f9fa;
    height: 750px;
    width: 100%;
    padding: 0;
}

.row-text h2 {
    color: #1A1A1A;
}

.row-text {
    padding: 50px;
    margin-left: 220px;
}


/* list-menu */

.list-menu ul {
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;
}

.list-menu {
    padding: 40px;
    line-height: 50px;
    margin-top: -680px;
    margin-left: 180px;
    text-decoration: none;
}

.list-menu li:hover {
    content: '';
    /* border: 10px solid #0078D4; */
    border-left: 5px solid #0078D4;
    text-decoration: underline;
}

#list-link {
    color: #0078D4;
}

.list-menu li {
    text-decoration: none;
}

.list-menu a {
    text-decoration: none;
    color: #1A1A1A;
}

.li {
    text-decoration: none;
}


/* cards */

.grid-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    margin-top: -400px;
    gap: 10px;
    margin-left: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 220px;
    height: 220px;
    border-radius: 5px;
    background: white;
    grid-column: 2;
}

.card:hover {
    box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 15px;
    color: #0078D4;
    margin-left: 10px;
    margin-top: 70px;
    text-align: center;
    overflow: hidden;
}

.card a {
    text-decoration: none;
}

.card h3:hover {
    text-decoration: underline;
}

.card h4 {
    opacity: 0.7;
}

#sql {
    margin-top: 10px;
}

#cloud {
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
}

#AKS {
    position: absolute;
    margin-top: 15px;
    margin-left: 45px;
}

#manage {
    position: absolute;
    margin-top: 15px;
    margin-left: 45px;
}

#services {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.card h4 {
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
    text-align: center;
}

.card:nth-child(1) {
    grid-column: 3;
    grid-row: 1;
}

.card:nth-child(2) {
    grid-column: 4;
    grid-row: 1;
}

.card:nth-child(3) {
    grid-column: 5;
    grid-row: 1;
}

.card:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
}

.card:nth-child(5) {
    grid-column: 4;
    grid-row: 2;
}

.card:nth-child(6) {
    grid-column: 5;
    grid-row: 2;
}

.card img {
    padding-left: 90px;
    padding-top: 20px;
}

.img-slide {
    border: 25px solid black;
    border-right: 0px;
    /* width: 100px; */
    height: 510px;
    border-radius: 5px;
    margin-left: 1250px;
    margin-top: -470px;
    transition: 0.5s;
    overflow: hidden;
}

.img-slide a {
    text-decoration: none;
    color: #0078D4;
}

.img-slide h5 {
    padding: 10px;
    position: absolute;
}

.img-slide:hover {
    margin-left: 1200px;
}


/* logo area */

.logo-area {
    margin-top: 150px;
    margin-left: 400px;
}

.logo-area a {
    text-decoration: none;
}

.logo-area h2 {
    margin-left: 200px;
    font-size: 23px;
    font-weight: 450;
}

.logo-area img {
    padding: 30px;
    margin-left: -10px;
}

#nba {
    margin-left: 50px;
    filter: grayscale(1);
}

#nba:hover {
    filter: grayscale(0);
    background: #b6c8d7;
}

#acs {
    margin-left: 50px;
    filter: grayscale(1);
}

#acs:hover {
    filter: grayscale(0);
    background: #b6c8d7;
}

#nhs {
    margin-left: -100px;
    margin-top: 0;
    margin-right: 0;
    margin-top: 0;
    filter: grayscale(1);
}

#nhs:hover {
    filter: grayscale(0);
    background: #b6c8d7;
}

#pepsi {
    margin-left: 50px;
    filter: grayscale(1);
}

#pepsi:hover {
    filter: grayscale(0);
    background: #b6c8d7;
}

#ge {
    margin-left: 50px;
    filter: grayscale(1);
}

#ge:hover {
    filter: grayscale(0);
    background: #b6c8d7;
    /* width: 124px; */
}

#forza {
    position: absolute;
    margin-left: -430px;
    overflow: hidden;
    padding-right: 0;
}

.forza {
    border-bottom: 3px solid #0078D4;
}


/* box */

.box {
    position: absolute;
    border: 1px solid #1A1A1A;
    border-radius: 5px;
    background: #1A1A1A;
    opacity: 0.8;
    width: 550px;
    height: 150px;
    margin-top: 450px;
    margin-left: 350px;
}

.box p {
    font-size: 18px;
    color: white;
    margin-top: 30px;
    padding-left: 15px;
}

.box a {
    color: white;
    padding-left: 15px;
    opacity: 1;
}


/* second wallpapper */

.second-wallpaper {
    margin-top: 800px;
    width: 1831px;
    height: 600px;
    background: #f8f9fa;
}

.second-wallpaper img {
    margin-left: 300px;
    margin-top: 100px;
}

.text-second {
    margin-left: 850px;
    margin-top: -300px;
}

.text-second h2 {
    font-size: 35px;
}

.text-second h4 {
    padding: 15px;
    margin-top: 50px;
    color: #0078D4;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #0078D4;
    border-radius: 5px;
    width: 155px;
}

.text-second h4:hover {
    background: #0078D4;
    color: white;
    text-decoration: underline;
}


/* img card */

.heading {
    text-align: center;
    margin-top: 100px;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    max-width: 100%;
    margin-left: 300px;
    gap: 10px;
}

.box-1:nth-child(1) {
    grid-column: 1;
}

.box-2:nth-child(2) {
    grid-column: 2;
}

.box-3:nth-child(3) {
    grid-column: 3;
    margin-left: -300px;
}

.box-3 p {
    margin-top: -90px;
    font-size: 24px;
    font-weight: 700px;
    margin-left: 30px;
}

.box-4:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
}

.box-5:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
    font-size: 24px;
    font-weight: 700px;
    margin-left: -1px;
}

.box-3 a {
    text-decoration: none;
    color: white;
}

.box-5 p {
    margin-top: -90px;
    margin-left: 20px;
}

.box-5 a {
    text-decoration: none;
    color: white;
}

.box-6:nth-child(6) {
    grid-column: 3;
}

.box-1 a,
.box-2 a,
.box-4 a,
.box-6 a {
    text-decoration: none;
    color: #1A1A1A;
}

.box-1,
.box-2,
.box-4,
.box-6 {
    border: 0px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.box-1:hover {
    box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

.box-2:hover {
    box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

.box-4:hover {
    box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

.box-2:hover {
    box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

.box-1:hover {
    box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

.box-6:hover {
    box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}


/* third whallpaper */

.third-wallpaper {
    margin-top: 100px;
}

.box-text {
    margin-top: -700px;
    margin-left: 400px;
    position: absolute;
    background: #1A1A1A;
    opacity: 0.9;
    padding: 20px;
    padding-right: 80px;
    border-radius: 5px;
}

.box-text p {
    color: white;
}

.box-text a {
    text-decoration: none;
    color: white;
}

.box-text video {
    position: absolute;
}

.video {
    display: none;
}

.play h3 {
    margin-left: 50px;
    margin-top: -65px;
    color: white;
    padding: 10px;
    font-size: 15px;
}

.play i {
    margin-top: -20px;
    margin-left: 10px;
}

.play {
    border: 1px solid #0078D4;
    background: #0078D4;
    border-radius: 5px;
    width: 230px;
    height: 50px;
    opacity: 1;
}

.play:hover {
    text-decoration: underline;
}

.h5 {
    margin-left: 250px;
    margin-top: -55px;
}

.h5 a:hover {
    text-decoration: underline;
}

.h5 img:hover {
    margin-left: 480px;
}

.arroww {
    margin-left: 470px;
    margin-top: -38px;
    position: absolute;
    transition: 0.5s;
}

.arroww:hover {
    margin-left: 480px;
}


/* 3-cards */

.grid-second-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: -10px;
    gap: 30px;
    background: #f8f9fa;
    height: 500px;
}

.cash {
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    padding: 30px;
    border: 0px solid #ffffff;
    border-radius: 7px;
    width: 300px;
    background: #243a5e;
    margin-top: 100px;
    margin-left: 350px;
    height: 200px;
}

.cash h3 a {
    color: white;
    text-decoration: none;
}

.cash a:hover {
    text-decoration: underline;
}

.cash p {
    color: white;
}

.chat {
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    padding: 30px;
    border: 0px solid #ffffff;
    border-radius: 7px;
    width: 300px;
    background: #242429;
    margin-top: 100px;
    height: 200px;
}

.chat h3 a {
    color: white;
    text-decoration: none;
}

.chat a:hover {
    text-decoration: underline;
}

.chat p {
    color: white;
}

.book {
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    padding: 30px;
    border: 0px solid #ffffff;
    border-radius: 7px;
    width: 300px;
    background: #0062ad;
    margin-top: 100px;
    margin-left: -175px;
    height: 200px;
}

.book h3 a {
    color: white;
    text-decoration: none;
}

.book a:hover {
    text-decoration: underline;
}

.book p {
    color: white;
}

#navbar {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    margin-top: -34px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px -1px;
    z-index: 1;
}

#navbar img {
    position: absolute;
    margin-top: -30px;
    margin-left: -410px;
}

#navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

#head-1 {
    position: absolute;
    margin-top: 1px;
    margin-left: 320px;
    font-size: 17px;
    font-weight: 600;
}

#sales {
    margin-left: 1200px;
    margin-top: -5px;
    position: absolute;
    border: 1px solid #1A1A1A;
    border-radius: 4px;
    font-weight: 600;
    padding: 9px;
}

#sales:hover {
    background: #0078D4;
}

#sales:hover {
    color: white;
    text-decoration: underline;
}

#green-1:hover {
    background: #a8db30;
    text-decoration: underline;
}

#green-1 {
    font-weight: 600;
    margin-left: 1350px;
    margin-top: 40px;
    border: 1 solid gray;
    border-radius: 4px;
    padding: 10px;
    background: #89C402;
}


/* footer */

footer {
    background: #f4f5f6;
    height: 700px;
}

#p {
    color: transparent;
}

.azure-app {
    margin-top: 30px;
    margin-left: 350px;
    padding: 10px;
    border: 1px solid transparent;
    width: 220px;
    background: #eaebec;
    height: 25px;
}

.footer {
    display: flex;
}

.azure-app span {
    margin-left: 10px;
    margin-top: 3px;
    font-weight: 600;
    font-size: 15px;
    opacity: 0.7;
}

.azure-app {
    margin-left: 290px;
}

.azure-app span a {
    text-decoration: none;
    color: #1A1A1A;
}

.azure-app span a:hover {
    text-decoration: underline;
}

#t:hover {
    opacity: 0.5;
}

#i:hover {
    opacity: 0.5;
}

#l:hover {
    opacity: 0.5;
}

#y:hover {
    opacity: 0.5;
}

.social-media {
    padding: 40px;
}

.social-media img {
    padding-left: 15px;
}

.social-media a {
    text-decoration: none;
}

.nav-col ul {
    list-style-type: none;
}

.nav-col h3 {
    margin-left: 50px;
    font-size: 12px;
}

.nav-col a {
    text-decoration: none;
    color: #1A1A1A;
}

.nav-col a:hover {
    text-decoration: underline;
}

.nav-col li {
    font-size: 12px;
    padding: 10px;
}

.nav-footer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-left: 250px;
}


/* language */

.language {
    margin-left: 300px;
}

.language label {
    display: block;
}

.language select {
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.8;
}

select {
    font-size: 16px;
}

.language span {
    font-size: 12px;
    font-weight: 200;
    margin-top: -20px;
    margin-left: 3px;
}

.nav-row ul {
    display: flex;
    margin-left: 710px;
}

.nav-row a:hover {
    text-decoration: underline;
}

.nav-row ul {
    list-style-type: none;
}

.nav-row a {
    text-decoration: none;
    color: #1A1A1A;
    font-size: 13px;
}

.nav-row li {
    padding: 10px;
}

.nav-row-two a {
    text-decoration: none;
    color: #1A1A1A;
    font-size: 13px;
}

.nav-row-two ul {
    display: flex;
    list-style-type: none;
}

.nav-row-two {
    margin-left: 1240px;
}

.nav-row-two li {
    padding: 10px;
}

.nav-row-two a:hover {
    text-decoration: underline;
}

#span {
    font-size: 11px;
    font-weight: 600;
}

.message {
    margin-left: 1650px;
    border: 1px solid #0078D4;
    width: 135px;
    padding: 10px;
    background: #0078D4;
    border-radius: 4px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.message span {
    padding: 10px;
    margin-top: -5px;
}

.message a {
    color: white;
    text-decoration: none;
}


/* media query */

@media screen and (max-width:1595px) {
    .grid {
        margin-left: -200px;
    }
    .list-menu {
        margin-left: -50px;
    }
    .row-text {
        margin-left: -25px;
    }
    .grid-box {
        margin-left: 200px;
    }
    .grid-second-card {
        margin-left: -150px;
    }
    .book {
        margin-left: -120px;
    }
    .nav-row-two {
        margin-left: 1150px;
    }
}

@media screen and (max-width:1440px) {
    .card-1 {
        width: 500px;
    }
    .card-1 img {
        width: 500px;
        height: 250px;
        border-radius: 7px;
    }
    .card-2 {
        width: 500px;
        margin-left: 890px;
        border-radius: 5px;
    }
    .card-3 {
        width: 522px;
        margin-left: 890px;
        border-radius: 5px;
        height: 198px;
        margin-top: -200px;
    }
    #no-border {
        margin-left: -100px;
    }
    .box-1:nth-child(1) {
        margin-left: -180px;
        width: 300px;
    }
    .box-2:nth-child(2) {
        margin-left: 10px;
        width: 300px;
    }
    .box-3:nth-child(3) {
        margin-left: -260px;
        height: 10px;
    }
    .box-4:nth-child(4) {
        margin-left: -180px;
        width: 300px;
    }
    .cash {
        margin-left: 250px;
    }
}

@media screen and (max-width:1540px) {
    .text-element {
        margin-left: 100px;
    }
    .grid {
        margin-left: -300px;
    }
    .third-button {
        margin-left: 500px;
    }
    .img-slide {
        margin-top: 10px;
        margin-left: 900px;
    }
    .img-slide:hover {
        margin-left: 1000px;
    }
    .logos {
        margin-left: -200px;
    }
    .logo-area h2 {
        margin-left: 20px;
    }
    .icons {
        height: 1300px;
    }
    .list-menu {
        margin-left: -70px;
        margin-top: -1200px;
    }
    .row-text {
        margin-left: -25px;
    }
    .grid-box {
        margin-left: 200px;
    }
    .grid-second-card {
        margin-left: -150px;
    }
    .book {
        margin-left: -90px;
    }
    .nav-row-two {
        margin-left: 1150px;
    }
    .nav-col {
        margin-left: -200px;
    }
    .nav-row {
        margin-left: -750px;
    }
    .nav-row-two {
        margin-left: 500px;
    }
    .second-wallpaper {
        width: 100%;
    }
}

@media screen and (max-width:1895px) {
    #sign {
        position: absolute;
        margin-left: 300px;
        margin-top: -23px;
    }
}

@media screen and (max-width:1595px) {
    #sign {
        position: absolute;
        margin-left: 300px;
        margin-top: -20px;
    }
    .second-wallpaper {
        width: 100%;
    }
}

@media screen and (max-width:1550px) {
    .right {
        margin-left: 200px;
    }
    .search-bar {
        margin-left: 900px;
    }
    .second {
        margin-left: 1000px;
    }
    .main-head {
        margin-left: 200px;
    }
    #sign {
        position: absolute;
        margin-left: 300px;
        margin-top: -20px;
    }
}

@media screen and (max-width:1400px) {
    .right {
        margin-left: 100px;
    }
    .search-bar {
        margin-left: 700px;
    }
    .second {
        margin-left: 800px;
    }
    .main-head {
        margin-left: 100px;
    }
    #sign {
        position: absolute;
        margin-left: 300px;
        margin-top: -20px;
    }
}

@media screen and (max-width:1200px) {
    .right {
        margin-left: 0px;
    }
    .search-bar {
        margin-left: 550px;
    }
    .second {
        margin-left: 650px;
    }
    .main-head {
        margin-left: 00px;
    }
    #header-wallpaper {
        height: 590px;
    }
    #sign {
        position: absolute;
        margin-left: 300px;
        margin-top: -20px;
    }
}

@media screen and (max-width:1050px) {
    .second {
        background: url(/img/logo/favicon\ \(2\).ico)no-repeat 60% center;
        margin-top: -15px;
    }
    #sign {
        margin-left: 220px;
        margin-top: -10px;
    }
    .mobile-nav {
        overflow: hidden;
        height: 0;
    }
    .mobile-nav.open {
        height: auto;
    }
    .mobile-nav {
        display: block;
        padding: 5px;
        margin-left: 100px;
    }
    #green {
        width: 100px;
    }
    .search-bar input {
        display: none;
    }
    .search-bar svg {
        margin-left: 230px;
    }
}

@media screen and (max-width:1345px) {
    .logos img {
        width: 100px;
    }
    #nba {
        width: 20px;
    }
    .box {
        margin-left: 100px;
    }
    .second-wallpaper img {
        margin-left: 100px;
        width: 400px;
    }
    .text-second {
        margin-left: 500px;
    }
    .cash {
        margin-left: 180px;
    }
    .grid-box p {
        font-size: small;
    }
    .grid-box img {
        width: 200px;
    }
    .box-3 img {
        width: 500px;
    }
    .box-5 img {
        width: 500px;
        margin-left: -200px;
    }
    .box-1:nth-child(1) {
        width: 200px;
    }
    .box-2:nth-child(2) {
        width: 200px;
        margin-left: -200px;
    }
    .box-3:nth-child(3) {
        margin-left: -260px;
    }
    .box-4:nth-child(4) {
        width: 200px;
    }
    .box-4:nth-child(5) {
        margin-left: 300px;
    }
    .box-6:nth-child(6) {
        width: 200px;
    }
    .nav-footer {
        margin-left: 100px;
    }
    .nav-col {
        text-align: center;
        text-overflow: inherit;
    }
}

@media screen and (max-width:1200px) {
    .cash {
        width: 250px;
    }
    .chat {
        width: 250px;
    }
    .book {
        width: 250px;
    }
    .logos img {
        width: 80px;
    }
    .logos {
        margin-left: -300px;
    }
    .logo-area h2 {
        margin-left: -180px;
    }
    .box-1:nth-child(1) {
        width: 200px;
    }
    .box-2:nth-child(2) {
        width: 200px;
        margin-left: 0px;
    }
    .box-3:nth-child(3) {
        margin-left: -270px;
    }
    .box-5 img {
        margin-left: 0px;
        height: 240px;
    }
    .box-6:nth-child(6) {
        margin-left: 0px;
    }
    #navbar {
        display: none;
    }
}

@media screen and (max-width:1070px) {
    .grid {
        margin-left: -350px;
    }
    .card-1 {
        width: 400px;
    }
    .card-1 img {
        width: 400px;
        height: 300px;
    }
    .card-2 {
        margin-left: 800px;
        width: 400px;
        margin-top: -450px;
    }
    .card-3 {
        margin-left: 800px;
        width: 422px;
        margin-top: -200px;
    }
    .text-element h2 {
        margin-left: -100px;
        text-align: center;
    }
    #border {
        padding: 30px;
        margin-top: 20px;
    }
    #no-border {
        width: 60px;
        line-height: 30px;
        margin-left: -200px;
        margin-top: -10px;
    }
    .grid-card {
        margin-left: 100px;
    }
    .img-slide:hover {
        margin-left: 500px;
    }
    .logos {
        width: 900px;
    }
    #navbar {
        display: none;
    }
    .grid-card {
        margin-left: 200px;
    }
    .cash {
        width: 250px;
        margin-left: 150px;
    }
    .chat {
        width: 250px;
        margin-left: -25px;
    }
    .book {
        width: 250px;
        margin-left: -25px;
    }
}

@media screen and (max-width:960px) {
    #sign {
        margin-left: 150px;
    }
    .check {
        display: block;
    }
    .mobile-text {
        display: block;
    }
    .boxx {
        display: block;
    }
    #header-wallpaper {
        display: none;
    }
    .small-view {
        display: block;
    }
    .img-slide {
        display: none;
    }
    .main-head {
        margin-top: -400px;
        margin-left: 100px;
    }
    .text-element {
        margin-top: 120px;
        font-size: 14px;
        padding: 20px;
    }
    #border {
        display: none;
    }
    #borderr {
        display: block;
        font-weight: 500px;
        text-align: center;
        width: 70px;
        padding: 7px;
        line-height: 30px;
        color: #0078D4;
        border: 1px solid #0078D4;
        border-radius: 6px;
    }
    #borderr:hover {
        background: #0078D4;
        color: white;
        text-decoration: underline;
    }
    .logos {
        display: none;
    }
    #forza {
        display: none;
    }
    .box {
        display: none;
    }
    .images {
        display: flex;
    }
    .images h5 {
        z-index: 1;
        display: block;
    }
    .images input {
        display: none;
    }
    .dots {
        display: flex;
        justify-content: center;
        margin: 5px;
        margin-top: 100px;
    }
    .dots label {
        height: 0px;
        width: 0px;
        border-radius: 50%;
        border: solid rgb(171, 171, 171);
        cursor: pointer;
        margin: 5px;
    }
    .dots label:hover {
        border-color: #0078D4;
    }
    .small-slide {
        position: relative;
        margin: 0;
        margin-left: -360px;
        overflow: hidden;
    }
    #img1:checked~.m1 {
        margin-left: 0;
    }
    #img2:checked~.m2 {
        margin-left: -100%;
    }
    #img3:checked~.m3 {
        margin-left: -200%;
    }
    #img4:checked~.m4 {
        margin-left: -300%;
    }
    .boxx {
        background: #f8f8f9;
        margin-left: -500px;
        text-align: left;
        padding-left: 200px;
        margin-top: -160px;
        transition: 0, 5s;
    }
    .boxx p {
        font-size: 20px;
    }
    .boxx a {
        color: #0078D4;
    }
    .boxx a:hover {
        text-decoration: underline;
        margin-left: 200px;
    }
    .second-wallpaper {
        margin-top: 100px;
        height: 400px;
    }
    .second-wallpaper img {
        width: 300px;
        margin-left: -10px;
    }
    .text-second h4 {
        margin-left: -150px;
        margin-top: -200;
    }
    .text-second h2 {
        margin-left: -150px;
    }
    .box-text {
        display: none;
    }
    #game {
        height: 400px;
    }
    .play-btn {
        text-align: center;
        background: transparent;
        margin-top: -250px;
    }
    .grid-second-card {
        height: 1000px;
        margin-top: 200px;
    }
    .grid-second-card :nth-child(1) {
        grid-row: 1;
    }
    .cash {
        margin-left: 160px;
        width: 850px;
    }
    .grid-second-card :nth-child(2) {
        grid-row: 2;
    }
    .grid-second-card :nth-child(3) {
        grid-row: 3;
    }
    .chat {
        margin-top: -10px;
        margin-left: 160px;
        width: 850px;
    }
    .book {
        margin-top: -10px;
        margin-left: 160px;
        width: 850px;
    }
    .nav-col li {
        display: none;
    }
    .nav-col h3 {
        border: 0px solid grey;
        background: rgb(233, 230, 230);
    }
    #first-1 {
        width: 800px;
        padding: 10px;
        text-align: left;
        margin-left: 120px;
    }
    #first-2 {
        margin-top: 100px;
        width: 800px;
        text-align: left;
        margin-left: -631px;
        padding: 10px;
    }
    #first-3 {
        width: 802px;
        text-align: left;
        display: block;
        margin-top: 200px;
        padding: 10px;
        margin-left: -647px;
    }
    #first-4 {
        width: 800px;
        text-align: left;
        padding: 10px;
        display: block;
        margin-top: 300px;
        margin-left: -660px;
    }
    #first-5 {
        width: 800px;
        padding: 10px;
        text-align: left;
        display: block;
        margin-top: 400px;
        margin-left: -675px;
    }
    #first-6 {
        width: 800px;
        text-align: left;
        display: block;
        margin-top: 500px;
        padding: 10px;
        margin-left: -690px;
    }
    .nav-row {
        margin-top: 10px;
    }
    .nav-row-two {
        margin-top: 20px;
    }
    .language {
        margin-top: 100px;
        margin-left: 10px;
    }
    footer {
        height: 950px;
    }
    .nav-col span {
        display: block;
        margin-left: 780px;
        font-size: 17px;
        margin-top: -15px;
    }
    .box-3:nth-child(3) {
        margin-top: -40px;
        margin-left: -400px;
    }
    .box-5 img {
        width: 100%;
        margin-left: -50px;
    }
    .box-3 img {
        width: 300px;
        height: 300px;
        margin-left: 400px;
        border: 1px solid white;
        border-radius: 10px;
    }
    .box-3 p {
        text-align: center;
        font-size: 15px;
        width: 250px;
        margin-left: 400px;
    }
    .box-6 img {
        width: 300px;
    }
    .box-6:nth-child(6) {
        width: 290px;
        margin-left: 120px;
        margin-top: 20px;
    }
    .heading h3 {
        margin-top: -80px;
    }
    .box-2:nth-child(2) {
        width: 250px;
        height: 280px;
        margin-top: -40px;
        margin-left: 0px;
    }
    .box-2 img {
        width: 250px;
    }
    .grid-box p {
        font-size: 17px;
    }
    .grid-box img {
        width: 250px;
    }
    .box-1:nth-child(1) {
        width: 255px;
        margin-top: -40px;
        height: 280px;
    }
    .box-5:nth-child(5) {
        border: 1px solid;
        border-radius: 5px;
        width: 280px;
        margin-top: 28px;
    }
    .box-5 img {
        width: 280px;
        height: 280px;
        margin-left: 0px;
    }
    .box-5 p {
        text-align: center;
        margin-left: -10px;
        font-size: 13px;
        width: 300px;
    }
    .box-4:nth-child(4) {
        width: 250px;
        margin-top: 10px;
        height: 280px;
    }
    .box-6:nth-child(6) {
        margin-left: -1px;
        width: 250px;
    }
    .search-bar svg {
        margin-left: 80px;
    }
    .second {
        margin-left: 550px;
    }
    #sign {
        margin-left: 120px;
    }
    .mobile-text p {
        font-size: 20px;
        text-align: center;
        opacity: 0.8;
    }
    .check {
        font-size: 17px;
        font-weight: 200;
        margin-left: 15px;
        color: #0078D4;
    }
}

@media screen and (max-width:920px) {
    .card {
        text-align: center;
        width: 200px;
        height: 300px;
    }
    .small-slide {
        display: block;
    }
    .card img {
        justify-items: center;
        margin-left: -80px;
    }
    .card h3 {
        margin-left: -1px;
    }
    #manage {
        margin-left: 30px;
    }
    #services {
        margin-left: 10px;
    }
    #AKS {
        margin-left: 30px;
    }
    #cloud {
        margin-left: 20px;
    }
    .cash {
        width: 800px;
    }
    .chat {
        width: 800px;
    }
    .book {
        width: 800px;
    }
    .mobile-text p {
        font-size: 20px;
        text-align: center;
        opacity: 0.8;
    }
    .check {
        font-size: 17px;
        font-weight: 200;
        margin-left: 15px;
        color: #0078D4;
    }
}

@media screen and (max-width:850px) {
    .box-1 img {
        width: 200px;
    }
    .small-slide {
        display: block;
    }
    .box-1:nth-child(1) {
        width: 200px;
    }
    .box-2 img {
        width: 200px;
    }
    .box-2:nth-child(2) {
        width: 200px;
        margin-left: 30px;
    }
    .box-3 img {
        width: 200px;
    }
    .box-3:nth-child(3) {
        margin-left: -390px;
    }
    .box-4 img {
        width: 200px;
    }
    .box-4:nth-child(4) {
        width: 200px;
    }
    .box-5 img {
        width: 200px;
    }
    .box-5:nth-child(5) {
        margin-left: 30px;
        width: 200px;
    }
    .box-6 img {
        width: 200px;
    }
    .box-6:nth-child(6) {
        margin-left: -5px;
        width: 200px;
    }
    .cash {
        width: 700px;
    }
    .chat {
        width: 700px;
    }
    .book {
        width: 700px;
    }
    .footer {
        margin-left: -270px;
    }
    #first-1 {
        width: 700px;
        padding: 10px;
        text-align: left;
        margin-left: 120px;
    }
    #first-2 {
        width: 700px;
        margin-left: -531px;
    }
    #first-3 {
        width: 702px;
        margin-left: -547px;
    }
    #first-4 {
        width: 700px;
        margin-left: -560px;
    }
    #first-5 {
        width: 700px;
        margin-left: -575px;
    }
    #first-6 {
        width: 700px;
        margin-left: -590px;
    }
    .nav-col span {
        margin-left: 680px;
    }
    .nav-row-two {
        margin-left: 400px;
    }
    footer {
        height: 1000px;
    }
    .card {
        gap: 10px;
        width: 180px;
    }
    .card h3 {
        font-size: 13px;
    }
    .card-1 img {
        width: 250px;
    }
    .card-1-text {
        width: 250px;
    }
    .card-1 {
        width: 250px;
    }
    .card-2 {
        margin-left: 650px;
        margin-top: -500px;
    }
    .card-3 {
        margin-left: 650px;
        margin-top: -200px;
    }
    .third-button {
        margin-left: 350px;
    }
    .mobile-text p {
        font-size: 20px;
        text-align: center;
        opacity: 0.8;
    }
    .check {
        font-size: 17px;
        font-weight: 200;
        margin-left: 15px;
        color: #0078D4;
    }
}

@media screen and (max-width:768px) {
    .mobile-nav {
        display: none;
    }
    .down {
        display: block;
    }
    .feature {
        display: block;
    }
    .bar {
        display: flex;
        margin-top: -30px;
        margin-left: 500px;
    }
    .main-head {
        margin-top: -400px;
    }
    .small-view {
        margin-top: 10px;
    }
    .bar svg {
        rotate: 90deg;
    }
    .bar li {
        list-style-type: none;
        color: #1A1A1A;
        position: absolute;
        font-size: 14px;
        margin-left: 50px;
    }
    .first li {
        display: block;
        font-size: 20px;
        text-align: left;
    }
    .first span {
        display: none;
    }
    .microsoft {
        margin-left: 400px;
        width: 40px;
        margin-top: -40px;
    }
    #head {
        font-size: 30px;
        margin-top: 50px;
    }
    #sales {
        margin-left: 360px;
        width: 80px;
        font-size: 12px;
        margin-top: 9px;
        background: white;
    }
    .first li {
        margin-top: 200px;
    }
    #green-1 {
        width: 80px;
        font-size: 12px;
        margin-left: 250px;
        margin-top: 10px;
    }
    .right {
        display: none;
    }
    .mobile-right {
        display: block;
    }
    .search-bar svg {
        position: absolute;
        margin-top: -100px;
    }
    .search-bar {
        display: none;
    }
    .second {
        display: none;
    }
    .mobile-right ul {
        list-style-type: none;
    }
    .mobile-right a {
        text-decoration: none;
    }
    .micro {
        margin-left: 350px;
        width: 30px;
        margin-top: -200px;
    }
    .logo {
        font-size: 20px;
        margin-top: -40px;
        margin-left: 100px;
        font-weight: 500;
    }
    .mobile-first a {
        color: #1A1A1A;
    }
    .mobile-first li {
        padding: 20px;
        background: #f4f5f6;
        margin-left: -20px;
    }
    .menu-btn {
        margin-top: 20px;
        margin-left: 50px;
        cursor: pointer;
    }
    hr {
        margin-left: -150px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .mobile-first {
        background: #ffffff;
        width: 1000px;
        transform: translateX(-1500px);
        position: absolute;
        z-index: 1;
    }
    .mobile-first.show {
        transform: translateX(-20px);
    }
    .white li {
        background: white;
    }
    .mobile-first span {
        margin-left: 550px;
        opacity: 0.5;
    }
    #a1 {
        margin-left: 546px;
    }
    #a2 {
        margin-left: 554px;
    }
    #a3 {
        margin-left: 544px;
    }
    #a4 {
        margin-left: 529px;
    }
    .menu-btn {
        display: block;
    }
    .main-head {
        text-align: center;
        margin-left: -30px;
    }
    .two-button li {
        margin-top: -40px;
        display: block;
        padding: 40px;
    }
    #blue {
        padding-left: 215px;
        padding-right: 215px;
    }
    #black {
        padding-left: 209px;
        padding-right: 209px;
    }
    .grid p {
        display: none;
    }
    .text-element {
        margin-top: -50px;
    }
    .card-1 img {
        width: 100px;
        height: 100px;
    }
    .card-1-text {
        display: flex;
        color: #0062ad;
        padding-left: 100px;
        font-size: 15px;
    }
    .card-1 {
        display: flex;
        width: 600px;
        margin-top: -30px;
        height: 100px;
    }
    .card-2 {
        display: flex;
        width: 590px;
        height: 90px;
        margin-top: 10px;
        margin-left: 360px;
    }
    .card-3 img {
        width: 100px;
        height: 50px;
    }
    .card-3 {
        display: flex;
        width: 610px;
        height: 90px;
        margin-top: 130px;
        margin-left: 360px;
    }
    .card-3-text h2 {
        margin-top: 120px;
        font-size: 19px;
        color: #0062ad;
        padding-right: 100px;
    }
    .third-button {
        margin-top: 200px;
    }
    .card-2-text h2 {
        margin-top: 150px;
        color: #0062ad;
        font-size: 19px;
        padding-right: 200px;
    }
    .grid-box {
        margin-top: 50px;
        grid-template-columns: repeat(20, 1fr);
    }
    .box-4:nth-child(4) {
        grid-column: 10;
        grid-row: 1;
        margin-top: -50px;
        margin-left: -100px;
    }
    .box-5:nth-child(5) {
        grid-column: 10;
        grid-row: 1;
        margin-top: -50px;
        margin-left: 140px;
        height: 200px;
    }
    .box-6:nth-child(6) {
        grid-column: 10;
        grid-row: 1;
        margin-top: -50px;
        margin-left: 360px;
    }
    .card-1-text h2 {
        font-size: 20px;
    }
    .card-2-text h2 {
        font-size: 19x;
        width: 100%;
    }
    .card-3-text h2 {
        font-size: 19px;
        width: 100%;
        margin-top: 150px;
    }
    .grid-box {
        overflow: scroll;
        margin: 0;
    }
    .cash p {
        display: none;
    }
    .chat p {
        display: none;
    }
    .book p {
        display: none;
    }
    .cash {
        display: flex;
        height: 30px;
        width: 600px;
        margin-top: 250px;
    }
    .chat {
        display: flex;
        height: 30px;
        width: 600px;
        margin-top: -200px;
    }
    .cash h3 {
        margin-top: 4px;
        margin-left: 40px;
    }
    .chat h3 {
        margin-top: 4px;
        margin-left: 40px;
    }
    .book h3 {
        margin-top: -5px;
        margin-left: 40px;
    }
    .book {
        display: flex;
        height: 30px;
        width: 600px;
        margin-top: -300px;
    }
    .grid-second-card {
        margin: 0;
        margin-left: -150px;
    }
    .card-2 img {
        margin-top: 5px;
    }
    .card-3 img {
        width: 100px;
        margin-top: 20px;
    }
    .list-menu {
        display: none;
    }
    .row-text h2 {
        text-align: center;
    }
    .grid-card {
        margin-top: -1000px;
        margin-left: 50px;
        gap: 20px;
    }
    .card:nth-child(1) {
        grid-column: 1;
        width: 250px;
        height: 250px;
    }
    .card:nth-child(2) {
        grid-column: 2;
        width: 250px;
        height: 250px;
    }
    .card:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
        width: 250px;
        height: 250px;
    }
    .card:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
        width: 250px;
        height: 250px;
    }
    .card:nth-child(5) {
        grid-column: 1;
        grid-row: 3;
        width: 250px;
        height: 250px;
    }
    .card:nth-child(6) {
        grid-column: 2;
        grid-row: 3;
        width: 250px;
        height: 250px;
    }
    .third-button {
        display: inline-block;
    }
    #no-border {
        width: 100px;
        display: block;
        margin-left: -140px;
        margin-top: 50px;
    }
    #borderr {
        width: 150px;
        display: block;
        margin-left: -220px;
        margin-top: 50px;
    }
    #manage {
        margin-left: 70px;
    }
    #services {
        margin-left: 50px;
    }
    #AKS {
        margin-left: 70px;
    }
    #cloud {
        margin-left: 55px;
    }
    .small-slide {
        display: block;
        margin-left: -130px;
    }
    .logo-area {
        text-align: center;
        margin-left: 100px;
    }
    .m1 {
        width: 700px;
    }
    .boxx p {
        font-size: 17px;
    }
    .boxx {
        margin-left: -250px;
    }
    .feature {
        position: absolute;
        margin-top: -1100px;
        width: 520px;
        text-align: left;
        margin-left: 50px;
        padding: 20px;
        background: white;
        border-radius: 5px;
        border-color: #ffffff;
        font-size: 16px;
        color: #262424;
        font-weight: 600;
    }
    .feature span {
        margin-left: 350px;
        font-size: 25px;
    }
    .feature:hover {
        color: #0078D4;
    }
    .down {
        margin-top: 1150px;
        z-index: 1;
    }
    .down span {
        font-size: 25px;
        margin-left: 220px;
        text-align: right;
    }
    .down pre {
        margin-top: -1px;
    }
    .feature-1 {
        position: absolute;
        margin-top: -1100px;
        width: 520px;
        text-align: left;
        margin-left: 50px;
        padding: 20px;
        background: white;
        border-radius: 5px;
        border-color: #ffffff;
        font-size: 16px;
        color: #262424;
        font-weight: 600;
    }
    .feature-2 {
        position: absolute;
        margin-top: -1000px;
        width: 520px;
        text-align: left;
        margin-left: 50px;
        padding: 20px;
        background: white;
        border-radius: 5px;
        border-color: #ffffff;
        font-size: 16px;
        color: #262424;
        font-weight: 600;
    }
    .feature-3 {
        position: absolute;
        margin-top: -900px;
        width: 520px;
        text-align: left;
        margin-left: 50px;
        padding: 20px;
        background: white;
        border-radius: 5px;
        border-color: #ffffff;
        font-size: 16px;
        color: #262424;
        font-weight: 600;
    }
    .feature-4 {
        position: absolute;
        margin-top: -800px;
        width: 520px;
        text-align: left;
        margin-left: 50px;
        padding: 20px;
        background: white;
        border-radius: 5px;
        border-color: #ffffff;
        font-size: 16px;
        color: #262424;
        font-weight: 600;
    }
    .feature-5 {
        position: absolute;
        margin-top: -700px;
        width: 520px;
        text-align: left;
        margin-left: 50px;
        padding: 20px;
        background: white;
        border-radius: 5px;
        border-color: #ffffff;
        font-size: 16px;
        color: #262424;
        font-weight: 600;
    }
    .feature-1:hover {
        color: #0078D4;
    }
    .feature-2:hover {
        color: #0078D4;
    }
    .feature-3:hover {
        color: #0078D4;
    }
    .feature-4:hover {
        color: #0078D4;
    }
    .feature-5:hover {
        color: #0078D4;
    }
    .img-slide {
        margin-left: 0px;
        width: 600px;
        display: block;
        border: 25px solid black;
        height: 410px;
    }
    .slide {
        width: 600px;
    }
    .img-slide:hover {
        margin-left: 0;
    }
    .nav-row a {
        font-size: 10px;
        margin-left: -10px;
    }
    .nav-row-two {
        margin-left: 50px;
    }
    .mobile-text p {
        font-size: 20px;
        text-align: center;
        opacity: 0.8;
    }
    .check {
        font-size: 17px;
        font-weight: 200;
        margin-left: 15px;
        color: #0078D4;
    }
}

@media screen and (max-width:603px) {
    .bar {
        margin-left: 400px;
    }
    .micro {
        margin-left: 250px;
    }
    .small-view {
        height: 600px;
    }
    .main-head {
        margin-top: -500px;
    }
    .second-wallpaper img {
        margin-left: 100px;
        width: 400px;
    }
    .text-element {
        margin-top: 50px;
    }
    #blue {
        padding-left: 150px;
        padding-right: 150px;
    }
    #black {
        padding-left: 145px;
        padding-right: 140px;
    }
    .card-1 {
        width: 450px;
    }
    .card-2 {
        width: 439px;
    }
    .card-3 {
        width: 460px;
    }
    #borderr {
        width: 400px;
        margin-left: -350px;
    }
    .grid-card {
        margin-left: 10px;
    }
    .feature {
        width: 480px;
    }
    .feature-1 {
        width: 460px;
    }
    .feature-2 {
        width: 460px;
    }
    .feature-3 {
        width: 460px;
    }
    .feature-4 {
        width: 460px;
    }
    .feature-5 {
        width: 460px;
    }
    .list-link a {
        color: #0078D4;
        text-decoration: none;
        margin-left: 250px;
    }
    .list-link {
        margin-top: 100px;
    }
    .img-slide {
        margin-left: 10px;
        width: 500px;
        border: 20px solid black;
        height: 310px;
    }
    .slide {
        width: 550px;
    }
    .logo-area h2 {
        font-size: 20px;
    }
    .logo-area {
        margin-left: 150px;
    }
    .images img {
        width: 500px;
    }
    .second-wallpaper {
        height: 900px;
    }
    .text-second {
        margin-top: 100px;
        text-align: center;
    }
    .text-second h2 {
        margin-left: -500px;
        font-size: 32px;
    }
    .text-second h4 {
        margin-left: -450px;
        width: 400px;
    }
    .grid-box {
        padding: 100px;
        gap: 80px;
    }
    .box-1:nth-child(1) {
        width: 400px;
        height: 340px;
        margin-left: -50px;
    }
    .box-1 img {
        width: 400px;
    }
    .box-2:nth-child(2) {
        width: 400px;
        height: 340px;
        margin-left: -50px;
    }
    .box-2 img {
        width: 400px;
    }
    .box-3 img {
        width: 400px;
        height: 370px;
        margin-left: 390px;
    }
    .box-3 p {
        width: 360px;
    }
    .box-4:nth-child(4) {
        width: 400px;
        height: 340px;
        margin-left: -500px;
    }
    .box-4 img {
        width: 400px;
    }
    .box-5 img {
        width: 400px;
        height: 370px;
        margin-left: -170px;
    }
    .box-5 p {
        width: 300px;
        margin-left: -110px;
        font-size: 20px;
    }
    .box-6:nth-child(6) {
        width: 400px;
        height: 340px;
        margin-left: 410px;
    }
    .box-6 img {
        width: 400px;
    }
    .cash {
        width: 450px;
    }
    .chat {
        width: 450px;
    }
    .book {
        width: 450px;
    }
    #first-1 {
        width: 500px;
        padding: 10px;
        text-align: left;
        margin-left: 120px;
    }
    #first-2 {
        width: 500px;
        margin-left: -330px;
    }
    #first-3 {
        width: 502px;
        margin-left: -343px;
    }
    #first-4 {
        width: 500px;
        margin-left: -350px;
    }
    #first-5 {
        width: 500px;
        margin-left: -360px;
    }
    #first-6 {
        width: 500px;
        margin-left: -370px;
    }
    .nav-col span {
        margin-left: 360px;
    }
    .mobile-text p {
        font-size: 20px;
        text-align: center;
        opacity: 0.8;
    }
    .check {
        font-size: 17px;
        font-weight: 200;
        margin-left: 15px;
        color: #0078D4;
    }
}

@media screen and (max-width:510px) {
    .bar {
        display: flex;
        margin-top: -30px;
        margin-left: 350px;
    }
    #blue {
        padding-left: 100px;
        padding-right: 100px;
    }
    #black {
        padding-left: 91px;
        padding-right: 95px;
    }
    #no-border {
        margin-left: -170px;
    }
    .third-button {
        margin-left: 300px;
    }
    .feature {
        margin-left: 10px;
        width: 400px;
    }
    .feature span {
        margin-left: 250px;
    }
    .card:nth-child(1) {
        width: 200px;
    }
    .card:nth-child(2) {
        width: 200px;
    }
    .card:nth-child(3) {
        width: 200px;
    }
    .card:nth-child(4) {
        width: 200px;
    }
    .card:nth-child(5) {
        width: 200px;
    }
    .card:nth-child(6) {
        width: 200px;
    }
    #services {
        margin-left: 20px;
    }
    #AKS {
        margin-left: 40px;
    }
    #cloud {
        margin-left: 30px;
    }
    #manage {
        margin-left: 40px;
    }
    .feature-1 {
        margin-left: 10px;
        width: 400px;
    }
    .feature-2 {
        margin-left: 10px;
        width: 400px;
    }
    .feature-3 {
        margin-left: 10px;
        width: 400px;
    }
    .feature-4 {
        margin-left: 10px;
        width: 400px;
    }
    .feature-5 {
        margin-left: 10px;
        width: 400px;
    }
    .down span {
        margin-left: 120px;
    }
    .img-slide img {
        width: 400px;
    }
    .img-slide {
        margin-left: 20px;
        width: 400px;
        display: block;
        border: 15px solid black;
        height: 310px;
    }
    .list-link {
        margin-left: -50px;
    }
    .main-head h1 {
        margin-left: 30px;
    }
    .main-head p {
        margin-left: 30px;
    }
    .micro {
        margin-left: 250px;
    }
    .mobile-text p {
        font-size: 20px;
        text-align: center;
        opacity: 0.8;
    }
    .check {
        font-size: 17px;
        font-weight: 200;
        margin-left: 15px;
        color: #0078D4;
    }
    #green-1 {
        margin-left: 140px;
    }
    #sales {
        margin-left: 250px;
    }
}

@media screen and (max-width:460px) {
    .cash {
        width: 360px;
    }
    .chat {
        width: 360px;
    }
    .book {
        width: 360px;
    }
    #first-1 {
        width: 400px;
        padding: 10px;
        text-align: left;
        margin-left: 120px;
    }
    #first-2 {
        width: 400px;
        margin-left: -230px;
    }
    #first-3 {
        width: 402px;
        margin-left: -243px;
    }
    #first-4 {
        width: 400px;
        margin-left: -250px;
    }
    #first-5 {
        width: 400px;
        margin-left: -260px;
    }
    #first-6 {
        width: 400px;
        margin-left: -270px;
    }
    .text-second h4 {
        width: 350px;
        margin-left: -460px;
    }
    .azure-app a {
        font-size: 12px;
    }
    .social-media {
        margin-top: 50px;
        margin-left: -300px;
    }
    .second-wallpaper img {
        margin-left: 10px;
    }
    .text-second h2 {
        margin-left: -550px;
        font-size: 20px;
    }
    .images img {
        width: 360px;
    }
    .img-slide img {
        width: 350px;
    }
    .img-slide {
        margin-left: 20px;
        width: 350px;
        display: block;
        border: 15px solid black;
        height: 290px;
    }
    .card-1 {
        width: 400px;
    }
    .card-2 {
        width: 390px;
    }
    .card-3 {
        width: 411px;
    }
    .main-head {
        margin-top: -590px;
    }
    .main-head h1 {
        margin-left: 30px;
    }
    .main-head p {
        margin-left: 30px;
    }
    .two-button {
        margin-left: -10px;
    }
    .micro {
        margin-left: 230px;
    }
    .card-3 img {
        margin-top: -1px;
        height: 80px;
        margin-left: 20px;
    }
    .card-2 img {
        margin-left: 12px;
    }
    .card-1-text h2 {
        margin-left: 30px;
    }
    .img-slide {
        margin-top: -450px;
    }
    .list-link a {
        margin-left: 150px;
        font-size: 20px;
    }
    .logo-area h2 {
        font-size: 24px;
    }
    .mobile-text p {
        font-size: 20px;
        text-align: center;
        opacity: 0.8;
    }
    .check {
        font-size: 17px;
        font-weight: 200;
        margin-left: 15px;
        color: #0078D4;
    }
    #green-1 {
        margin-left: 100px;
    }
    #sales {
        margin-left: 250px;
    }
    footer {
        margin-top: -400px;
        height: 1050px;
    }
}